# Question 1

#### Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

In [2]:
spam = ['ham', 'eggs', 'ham']
spam

['ham', 'eggs', 'ham']

#### Extract the second element of the list.

In [3]:
spam[1]

'eggs'

####    Extract the first to third (inclusive) element of the list.

In [4]:
spam[0:3]

['ham', 'eggs', 'ham']

####    Extract only the last element of the list.

In [5]:
spam[-1]

'ham'

# Question 2
#### Set up a list with the following elements:

Hint: Some of these methods will change the original object stops. If you make any unwanted changes and want to go back to the original object you can re-run the code chunks where we created the object stops and then appended "Edinburgh Waverley".

In [6]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

####  Append Edinburgh Waverley to the end of the list

In [7]:
stops.append("Edinburgh Waverley")
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

####  Add "Queen Street" to the start of the list

In [8]:
stops.insert(0, "Queen Street")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

#### Find out what index "Croy" is at in the list

In [9]:
stops.index("Croy")

1

####  Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")

In [10]:
stops.insert(4, "Polmont")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

#### Remove "Haymarket" from the list of stops

In [11]:
stops.index("Haymarket")
stops.pop(7)
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

#### Remove all items from stops

In [12]:
len(stops)
del stops[0:8]
stops

[]

# Question 3

#### Set up the following dictionary:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [13]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

####     Return the keys, values and items from this dictionary

In [14]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [15]:
person.values()

dict_values(['Steph', 31, True])

In [16]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

####    Take out only the name from it

In [17]:
person.pop("name")

'Steph'

####    Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary

In [18]:
person.update({"email": "steph@codeclan.com"})

In [19]:
person

{'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

####    Delete the job description from the dictionary (Hint: look up the del function)

In [20]:
del person["Instructor"]

In [21]:
person

{'age': 31, 'email': 'steph@codeclan.com'}

# Question 4

For the following list of numbers:

In [22]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

#### Print out a list of the even integers:

In [23]:
even_numbers = []
for number in numbers:
    if number %2 == 0:
        even_numbers.append(number)

print(even_numbers)

[6, 2, 2, 6]

#### Print the difference between the largest and smallest value:

In [24]:
print(max(numbers) - min(numbers))

98

#### Print True if the list contains a 2 next to a 2 somewhere.

In [25]:
twos = [2, 2]
def x_within_y(twos, numbers):
    n = len(twos)
    return any(twos == numbers[i:i + n] for i in range(len(numbers)-n + 1))
print(x_within_y(twos, numbers))

True

In [26]:
numbers

[1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

#### Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

# Question 5

Write a conditional that takes in two inputs :

    python_is_fun = True
    python_is_weird = True

We want to print "Woo Python!" if either python_is_fun is true OR python_is_weird is true OR both python_is_fun and python_is_weird are true. Otherwise, print "Python is not for me!". Make sure you test all the combinations.

In [27]:
python_is_fun = True
python_is_weird = True

if python_is_fun == True or python_is_weird == True:
    print("Woo Python!")
elif python_is_fun == True and python_is_weird == True:
    print("Woo Python!")
else:
    print("Python is not for me!")

Woo Python!

# Question 6
We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

To write this as a loop, we'd do something like this:

total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

Instead, we want to define a function which passes in a list, so that if we wanted to count eggs of a different list of chickens from another farm, we can use the same function, just pass in a different list.

We also want to return the string at the end, instead of using print.

In [28]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

4 eggs collected

In [29]:
chickens2 = [
  { "name": "Jess", "age": 2, "eggs": 3 },
  { "name": "Mary", "age": 1, "eggs": 4 },
  { "name": "Vodka", "age": 3, "eggs": 2 },
  { "name": "Loss", "age": 2, "eggs": 0 },
  { "name": "Quiet bliss", "age": 5, "eggs": 2 },
]

In [30]:
chicken

{'name': 'Mabel', 'age': 5, 'eggs': 0}

In [35]:
def eggs_collected(chicken_list):
    total_eggs = 0
    for chicken in chicken_list:
        total_eggs += chicken["eggs"]
        chicken["eggs"] = 0
    return total_eggs

In [36]:
eggs_collected(chickens2)

11

# Extensions
## Question 1

Set up the following collection:

Use a loop to print the names of all the countries in the UK.

Use a loop to find the total population of the UK.

In [ ]:
import numpy as np

In [46]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

Change the capital of Wales from "Swansea" to "Cardiff".

In [47]:
united_kingdom[1]["capital"] = "Cardiff"
united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'}]

Create a dictionary for Northern Ireland and add it to the united_kingdom list (The capital is Belfast, and the population is 1,811,000).

In [48]:
united_kingdom.append({
   "name": "Northern Ireland",
   "population": "1811000",
    "capital": "Belfast"
})

In [49]:
united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'},
 {'name': 'Northern Ireland', 'population': '1811000', 'capital': 'Belfast'}]